.location-list {
    margin-top: 10px;
}

.josko {
    border: dashed thick #0f0f0f;
    width: 100px;
    height: 100px;
}

#map {
    height: 400px;
    width: 100%;
    /*padding: 20px 20px 20px 20px;*/


    /* bring your own prefixes */
}

#place-icon {
    visibility: hidden;
}

.separator {
    margin-top: 70px;
}