.categoryButton {
    font-size: 3em;
    margin: 15px;
    width: 250px !important;
    height: 150px !important;
    vertical-align: middle;
    border-radius: 20px;

}

.logoHGSS {
    width: 210px;
    height: 200px;
    margin: auto;

}