body {
    font-family: "Roboto",serif;
}

.navLogo {
    width: 15px;
    height: 15px;
    display: inline-block;
}

h1 {
    font-weight: bold;
}

.main-container {
    background: white;
    padding: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    min-height: 100vh;
}

#mynavbar {
    margin-bottom: 0;
    /*padding: 0 50px 0px 50px;*/
}

.separate {
    margin-top: 40px;
}

.horizontalLine {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
}

.horizontalLine span {
    background:#fff;
    padding:0 15px;
}

.window {
    padding: 2em;
}

.container-fluid {
    padding: 0;
}

/*this is used for responsive text
important: classes used here should not have font-size defined cause it will
be overwritten */
@media all and (max-width: 1200px) {
    /* screen size until 1200px */
    .descHeading {
        font-size: 2.5em ;
        /* 1.5x default size */
    }
}
@media all and (max-width: 992px) {
    /* screen size until 1000px */
    .descHeading {
        font-size: 2.1em ;
        /* 1.2x default size */
    }
}
@media all and (max-width: 768px) {
    /* screen size until 500px */
    .descHeading {
        font-size: 1.7em;
        /* 0.8x default size */
    }
}

/* navbar */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: #0478AF;
    border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover{
    color: black;
}