@import models.codebook.HGSSActionType
@(action: HGSSAction, actionTypes: List[HGSSActionType])
@edit = @{action != null}

@main("Akcija") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/register.css")" >
  @*validetta*@
  <script src="@routes.Assets.at("validetta/validetta.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("validetta/validetta.min.css")">

  @*clockpicker*@
  <script src="@routes.Assets.at("javascripts/clockpicker.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/clockpicker.css")">

  @*jscolor*@
  <script src="@routes.Assets.at("javascripts/jscolor.min.js")" type="text/javascript"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVsLLDx5MQmY4CUaD9-kt5Dqw5tPjJV4&libraries=places&callback=initAutocomplete"
  async defer></script>

  <script>
          function initAutocomplete() {

            var map = new google.maps.Map(document.getElementById("map"), {
              zoom: 7,
              center: new google.maps.LatLng(44.629573,16.66626 ),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var map_infowindow = new google.maps.InfoWindow({
              content: 'map_infowindow'
            });

            var marker;
            @if(edit) {
            marker = new google.maps.Marker({
              position: {lat: @action.latitude, lng: @action.longitude},
              title: '@action.title',
              icon: '@routes.Assets.at("images/home-pin2.png")',
              map: map,
              animation: google.maps.Animation.DROP
            });
            marker.setPosition({lat:@action.latitude,lng:@action.longitude});
            marker.setVisible(true);
            $('#pac-input').val('@action.title');
            $('#location-lng').val(@action.longitude);
            $('#location-lat').val(@action.latitude);
            }
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            searchBox.addListener('places_changed', function () {
              if(marker!=null) {
                marker.setMap(null);
              }
              var places = searchBox.getPlaces();
              if (places.length == 1) {
                var place = places[0];
                marker = new google.maps.Marker({
                  position: place.location,
                  title: place.name,
                  icon: '@routes.Assets.at("images/pointer-gss.png")',
                  map: map,
                  animation: google.maps.Animation.DROP
                });
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
                $('#pac-input').val(place.name);
                $('#location-lng').val(marker.position.lng());
                $('#location-lat').val(marker.position.lat());
              } else {
                alert("Odaberi samo jednu lokaciju!");
                return;
              }
            });

            @if(edit) {
              var markers = [
                @for(user <- action.users) {
                  @for(location <- user.currentLocations) {
                    {
                      "name": '@user.firstName',
                      "coords": "@location.latitude,@location.longitude"
                    },
                  }
                }
              ];

            $(markers).each(function() {

              // console.log(typeof(this.p));

              var lat_lon = this.coords.split(',');
              var icon = '@routes.Assets.at("images/pointer-gss.png")';

              var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat_lon[0],lat_lon[1]),
                title: this.name,
                desc: this.desc,
                icon: icon,
                map: map
              });
              marker.setVisible(true);
            });
                      };

            }
  </script>

  <div class="window">
    <form id="actionForm" action="" method="post" id="register_form">
      <div class="row separate">
        <div class="col-md-offset-3 col-md-6">

          @if(edit) {
            @if(action.isActive){
              <div class="row separate">
                <div class="col-md-offset-4 col-md-2">
                  <span class="text-center" style="color: green"><i class="fa fa-check"></i> u tijeku</span>
                </div>
                <div class="col-md-2">
                  <a type="button" href="@routes.HGSSController.saveAction()" class="btn btn-default" >zavrsi akciju</a>
                </div>
              </div>
            }
          }
          <div class="form-group separate">
            <label for="title">Naslov</label>
            <input type="text" class="form-control" name="title" id="title" data-validetta="required"
            value="@if(edit){@action.title}">
          </div>
          <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" class="form-control" name="description" id="description" data-validetta="required"
            value="@if(edit){@action.description}">
          </div>
          <div class="form-group">
            <label for="actionType">Vrsta</label>
            <select type="text" class="form-control" name="actionType" id="actionType" @if(edit){value="@action.actionType.toString"}>
            @for(actionType <- actionTypes){
              <option>@actionType.toString()</option>
            }
            </select>
          </div>
          <div class="form-group">
            <label for="pac-input">Mjesto dogadaja</label>
          <div class="input-group">
            <input type="text" id="pac-input" class="form-control" name="location" value="@if(edit){@action.title}"/>
            <input type="hidden" class="form-control" name="location-lng" id="location-lng" value="@if(edit){@action.longitude}">
            <input type="hidden" class="form-control" name="location-lat" id="location-lat" value="@if(edit){@action.latitude}">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>
          </div>
          <div class="row">
              <div id="map"></div>
              <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="place-address"></span>
            </div>
          </div>

          <div class="form-group">
          <a class="btn btn-default" href="@routes.HGSSController.zones()">Zone</a>
          </div>


          <h2 class="separate">Sudjelovali spasioci</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Uloga</th>
              </tr>
            </thead>
            <tbody>
              @for(user <- action.users) {
              <tr>
                <td>@user.firstName</td>
                <td>@user.lastName</td>
                <td>@user.role</td>
              </tr>
              }
              </tbody>
          </table>

          <div class="row">
          <button type="submit" class="btn btn-primary separate">Ok</button>
          </div>

        </div>
      </div>
    </form>
  </div>


  @*activate all tooltips*@
  <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
          });
  </script>

  @*clockpicker*@
  <script type="text/javascript">
          $('.clockpicker').clockpicker();
  </script>

}