@(action: HGSSAction)
@edit = @{action != null}

@main("Akcija") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/register.css")" >
  @*validetta*@
  <script src="@routes.Assets.at("validetta/validetta.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("validetta/validetta.min.css")">

  @*clockpicker*@
  <script src="@routes.Assets.at("javascripts/clockpicker.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/clockpicker.css")">

  @*jscolor*@
  <script src="@routes.Assets.at("javascripts/jscolor.min.js")" type="text/javascript"></script>

  <div class="window">
    <form id="actionForm" action="" method="post" id="register_form">
      <div class="row separate">
        <div class="col-md-offset-3 col-md-6">
          <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" class="form-control" name="description" id="description" data-validetta="required"
            value="@if(edit){action.description}">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dostupanOd">Dostupan od</label>
                <div class="input-group clockpicker">
                  <input type="text" id="dostupanOd" class="form-control" value="@if(edit){user.availableFrom}else{09:00}">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="dostupanDo">Dostupan do</label>
                <div class="input-group clockpicker">
                  <input type="text" id="dostupanDo" class="form-control" value="@if(edit){user.availableUntil}else{17:00}">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="places">Lokacije</label>
            <div class="input-group">
              <input type="text" id="pac-input" class="form-control" name="location" placeholder="Radno mjesto, stan"
              value="@if(edit){user.location}"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
            </div>
            <ul id="list" class="list-group location-list"></ul>
          </div>
          <div class="row">
            <div id="map"></div>
            <div id="infowindow-content">
              <img src="" width="16" height="16" id="place-icon">
              <span id="place-name" class="title"></span><br>
              <span id="place-address"></span>
            </div>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVsLLDx5MQmY4CUaD9-kt5Dqw5tPjJV4&libraries=drawing&callback=initMap">
            </script>
          </div>
          <div class="polygonPanel">

            <button id="polyColor" class="btn btn-default jscolor {valueElement:null,value:'66ccff'}">
              Boja zone
            </button>
            <button id="okColor" class="btn btn-default">Ok</button>
          </div>


          <button type="submit" class="btn btn-primary separate">Submit</button>

        </div>
      </div>
    </form>
  </div>


  <script>

            var polyArray = [];
            var base;
            var polyColors = [];
            var currentColor;


          function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
              color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
          }
          // This example requires the Places library. Include the libraries=places
          // parameter when you first load the API. For example:
          // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
          function initMap() {

            var map = new google.maps.Map(document.getElementById("map"), {
              zoom: 7,
              center: new google.maps.LatLng(44.629573,16.66626 ),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var drawingManager = new google.maps.drawing.DrawingManager({
              drawingControl: true,
              drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: ['marker', 'polygon']
              },
              markerOptions: {
                icon: '@routes.Assets.at("images/pointer-gss.png")',
                draggable: true
              },
              polygonOptions: {
                editable: true,
                fillColor: getRandomColor(),
                opacity: 0.2
              }
            });
            drawingManager.setMap(map);

            google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
              if (event.type == google.maps.drawing.OverlayType.POLYGON) {
                //Add 'event.overlay', which is Circle, to array
                polyArray.push(event.overlay);
                polyColors.push(currentColor);
                alert(event.overlay.getPath().length);
              }
              if (event.type == google.maps.drawing.OverlayType.MARKER) {
                base = event.overlay;
              }
            });

            $('#okColor').click(function () {
              drawingManager.setMap(null);
              drawingManager = new google.maps.drawing.DrawingManager({
                drawingControl: true,
                drawingControlOptions: {
                  position: google.maps.ControlPosition.TOP_CENTER,
                  drawingModes: ['marker', 'polygon']
                },
                markerOptions: {
                  icon: '@routes.Assets.at("images/pointer-gss.png")',
                  draggable: true
                },
                polygonOptions: {
                  editable: true,
                  fillColor: $('#polyColor').css("background-color"),
                  opacity: 0.2
                }
              });
              drawingManager.setMap(map);
              currentColor = $('#polyColor').css("background-color");
            });

          }

            $('#actionForm').submit(function(e) {
              e.preventDefault();
              e.returnValue = false;
              alert(polyColors.length);
              var polys = [];
              for(var index=0;index<polyArray.length;index++) {
                alert(polyColors[index]);
              }


//              $.ajax({
//                type: 'POST',
//                url: '/saveMap',
//                data: JSON.stringify(polyArray),
//                headers: {
//                  'Content-Type': 'application/json'
//                },
//                success: function() { // your success handler
//                  alert("nice!")
//                },
//                error: function() { // your error handler
//                  alert("bed :(((")
//                }
//              });


              @*var $form = $(this);*@
              @*// this is the important part. you want to submit*@
              @*// the form but only after the ajax call is completed*@
              @*$.ajax({*@
              @*type: 'post',*@
              @*url: '@routes.HGSSController.saveAction()',*@
              @*context: $form, // context will be "this" in your handlers*@
              @*success: function() { // your success handler*@
              @*},*@
              @*error: function() { // your error handler*@
              @*},*@
              @*complete: function() {*@
              @*// make sure that you are no longer handling the submit event; clear handler*@
              @*this.off('submit');*@
              @*// actually submit the form*@
              @*this.submit();*@
              @*}*@
              @*});*@
            });

  </script>


  <script>
          $("#register_form").validetta({
            realTime: true,
            display : 'inline',
            errorTemplateClass : 'validetta-inline'
          });

  </script>

  @*activate all tooltips*@
  <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
          });
  </script>

  @*clockpicker*@
  <script type="text/javascript">
          $('.clockpicker').clockpicker();
  </script>

}