@()

<div class="navbar navbar-default" id="mynavbar">
    <div class="containter">
        @*defines button which appears when device is small*@
        <div class="navbar-header">
            <a class="navbar-brand" href="@routes.Public.landing()">
                @*<img class="navLogo" src="@routes.Assets.at("images/hgss-logo.png")">*@
                <div id="abbrvText" class="foldText">
                    H<span id="rvatska">rvatska&nbsp;</span>G<span id="orska">orska&nbsp;</span>S<span id="luzba">luzba&nbsp;</span>S<span id="pasavanja">pasavanja&nbsp;</span>
                </div>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <!--defines these button which appears on xs devices, icon bar is line on the button-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            @if(controllers.Users.currentUser() != null) {
                <li><a href="@routes.Public.landing()">Search</a></li>
                <li><a href="@routes.BTController.createTrip()">Create Trip</a></li>
                @*<li><a href="@routes.Users.listAllUsers()">Registered users</a></li>*@
                @*<li><a href="@routes.Ratings.listAll()">Ratings</a></li>*@
                @*<li><a href="@routes.Public.landing()">Landing page</a></li>*@
            }
            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if(controllers.Users.currentUser() != null) {
                <li><p class="navbar-text"><i>Logged in as: @controllers.Users.currentUser().username</i></p></li>
                <li><a href="@routes.Users.logout()">Logout</a></li>
            } else {
                <li><a href="@routes.Public.loginForm()">Login</a></li>
                <li><a href="@routes.Public.registerForm()">Register</a></li>
            }
            </ul>
        </div>
    </div>


</div>

<script src="@routes.Assets.at("javascripts/abbreviText.js")" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/abbreviText.css")"/>
<script>
        abbreviText("abbrvText", ["rvatska", "orska", "luzba", "pasavanja"]);
</script>



