@import models.codebook.HGSSRole
@import models.codebook.HGSSSkill
@(user: HGSSUser, roles: List[HGSSRole], skills: List[HGSSSkill])
@edit = @{user!=null}

@main("Registracija spasitelj") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/register.css")" >
  @*validetta*@
  <script src="@routes.Assets.at("validetta/validetta.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("validetta/validetta.min.css")">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVsLLDx5MQmY4CUaD9-kt5Dqw5tPjJV4&libraries=places&callback=initAutocomplete"
    async defer></script>

  @*clockpicker*@
  <script src="@routes.Assets.at("javascripts/clockpicker.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/clockpicker.css")">


    <script>
            function initAutocomplete() {
                var markers = [{
                    "name": "Bjelovar",
                    "coords": "45.887861,16.854645",
                    "desc": "Mlinovac 21<br\/>Bjelovar<br\/>+385 91 721 0041<br\/>hgss.stanica.bjelovar@@gmail.com"
                }, {
                    "name": "\u010cakovec",
                    "coords": "46.392259763332476,16.418029212310785",
                    "desc": "\u0160portska 2<br\/>\u010cakovec<br\/>+385 91 172 1050<br\/>hgss.cakovec@@gmail.com"
                }, {
                    "name": "Delnice",
                    "coords": "45.39964,14.8035",
                    "desc": "Matice Hrvatske 21<br\/>Delnice<br\/>+385 91 721 0004<br\/>delnice@@gss.hr"
                }, {
                    "name": "Dubrovnik",
                    "coords": "42.6475617999797,18.078630896186837",
                    "desc": "Dr. Roka Mi\u0161eti\u0107a bb<br\/>Dubrovnik<br\/>+385 91 212 3003 (vpn 22736)<br\/>hgssdubrovnik@@gmail.com"
                }, {
                    "name": "Gospi\u0107",
                    "coords": "44.53987,15.35033",
                    "desc": "Kani\u017ea Gospi\u0107ka 4<br\/>Gospi\u0107<br\/>+385 91 721 0007<br\/>hgssgospic1@@gmail.com"
                }, {
                    "name": "Karlovac",
                    "coords": "45.49208,15.54172",
                    "desc": "Vlatka Ma\u010deka 48<br\/>Karlovac<br\/>+385 91 721 0005<br\/>hgss.karlovac@@gmail.com"
                }, {
                    "name": "Koprivnica",
                    "coords": "46.16264932080369,16.82886853153991",
                    "desc": "Hrvatske dr\u017eavnosti 7<br\/>Koprivnica<br\/>+385 91 604 8367<br\/>hgss.koprivnica@@gmail.com"
                }, {
                    "name": "Krapina",
                    "coords": "46.0450326,16.0840833",
                    "desc": "Vladimira Nazora 56, Zlatar Bistrica<br\/>Zlatar Bistrica<br\/>+385 91 721 0208<br\/>hgss.stanica.krapina@@gmail.com"
                }, {
                    "name": "Makarska",
                    "coords": "43.298307,17.01838",
                    "desc": "A.G. Mato\u0161a 1<br\/>Makarska<br\/>+385 91 721 0201<br\/>hgss.makarska@@gmail.com"
                }, {
                    "name": "Novska",
                    "coords": "45.3379,16.9808",
                    "desc": "Osje\u010dka 20<br\/>Novska<br\/>+385 91 721 0049<br\/>hgss.stanica.novska@@gmail.com"
                }, {
                    "name": "Ogulin",
                    "coords": "45.26268253834021,15.229263906745928",
                    "desc": "Bernardina Frankopana 18<br\/>Ogulin<br\/>+385 91 721 0003<br\/>ogulin@@gss.hr"
                }, {
                    "name": "Orahovica",
                    "coords": "45.5306,17.8834",
                    "desc": "Trg sv. Florijana 2<br\/>Orahovica<br\/>+385 98 968 4058<br\/>hgss.orahovica@@net.hr"
                }, {
                    "name": "Orebi\u0107",
                    "coords": "42.97687,17.18978",
                    "desc": "\u0160etali\u0161te kneza Domagoja 32<br\/>Orebi\u0107<br\/>+385 91 721 0013<br\/>gssorebic@@gmail.com"
                }, {
                    "name": "Osijek",
                    "coords": "45.54888539732564,18.692864322021478",
                    "desc": "Kneza Trpimira 23<br\/>Osijek<br\/>+385 91 721 0082<br\/>soldoslobodan1@@net.hr,  hgssosijek@@gmail.com"
                }, {
                    "name": "Po\u017eega",
                    "coords": "45.33307,17.66826",
                    "desc": "Republike Hrvatske 1 C<br\/>Po\u017eega<br\/>+385 91 112 9340<br\/>gss.pozega@@hotmail.com"
                }, {
                    "name": "Pula",
                    "coords": "45.23979,13.93578",
                    "desc": "Narodnog Doma 2<br\/>Pazin<br\/>+385 91 721 0006<br\/>hgss.stanica.pula@@gmail.com"
                }, {
                    "name": "Rijeka",
                    "coords": "45.320194783622604,14.474340640544824",
                    "desc": "Franje Matkovi\u0107a 7a<br\/>Rijeka<br\/>+385 91 721 0000<br\/>gss_rijeka@@yahoo.com"
                }, {
                    "name": "Samobor",
                    "coords": "45.80075,15.71767",
                    "desc": "Perkov\u010deva 59<br\/>Samobor<br\/>+385 91 721 0008<br\/>info@@gss-samobor.hr"
                }, {
                    "name": "\u0160ibenik",
                    "coords": "43.741227,15.885143",
                    "desc": "Put Tvornice 33<br\/>\u0160ibenik<br\/>+385 91 112 9220<br\/>hgss.stanicasibenik@@gmail.com"
                }, {
                    "name": "Slavonski Brod",
                    "coords": "45.1698,18.0075",
                    "desc": "Ulica fra Kaje Ad\u017ei\u0107a 10B<br\/>Slavonski Brod<br\/>+385 98 611 484<br\/>slavonski.brod@@gss.hr"
                }, {
                    "name": "Split",
                    "coords": "43.51966,16.45696",
                    "desc": "\u0160ibenska ulica 41<br\/>Split<br\/>+385 91 721 0001<br\/>stanica.split@@gss.hr"
                }, {
                    "name": "Vara\u017edin",
                    "coords": "46.30752,16.33327",
                    "desc": "Stanka Vraza 15<br\/>Vara\u017edin<br\/>+385 91 721 00 12<br\/>procelnikgssvz@@gmail.com"
                }, {
                    "name": "Vinkovci",
                    "coords": "45.28789,18.8057",
                    "desc": "Glagolja\u0161ka 27 A<br\/>Vinkovci<br\/>+385 91 721 0202<br\/>hgss.vinkovci@@gmail.com"
                }, {
                    "name": "Zadar",
                    "coords": "44.1171,15.24246",
                    "desc": "Andrije Hebranga 11a<br\/>Zadar<br\/>+385 91 721 0010<br\/>info@@hgsszd.hr"
                }, {
                    "name": "Zagreb",
                    "coords": "45.815,15.97554",
                    "desc": "Radi\u0107eva 23<br\/>Zagreb<br\/>+385 91 5082 556<br\/>stanica-zagreb@@gss.hr"
                }];

                var map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 7,
                    center: new google.maps.LatLng(44.629573,16.66626 ),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var map_infowindow = new google.maps.InfoWindow({
                    content: 'map_infowindow'
                });

                var marker;
                @if(edit) {
                    marker = new google.maps.Marker({
                        position: {lat: @user.location.latitude, lng: @user.location.longitude},
                        title: '@user.location.stationName',
                        icon: '@routes.Assets.at("images/home-pin2.png")',
                        map: map,
                        animation: google.maps.Animation.DROP
                    });
                    marker.setPosition({lat:@user.location.latitude,lng:@user.location.longitude});
                    marker.setVisible(true);
                    $('#pac-input').val('@user.location.stationName');
                    $('#location-lng').val(@user.location.longitude);
                    $('#location-lat').val(@user.location.latitude);
                }
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                searchBox.addListener('places_changed', function () {
                    if(marker!=null) {
                        marker.setMap(null);
                    }
                    var places = searchBox.getPlaces();
                    if (places.length == 1) {
                        var place = places[0];
                        marker = new google.maps.Marker({
                            position: place.location,
                            title: place.name,
                            icon: '@routes.Assets.at("images/home-pin2.png")',
                            map: map,
                            animation: google.maps.Animation.DROP
                        });
                        marker.setPosition(place.geometry.location);
                        marker.setVisible(true);
                        $('#pac-input').val(place.name);
                        $('#location-lng').val(marker.position.lng());
                        $('#location-lat').val(marker.position.lat());
                    } else {
                        alert("Odaberi samo jednu lokaciju!");
                        return;
                    }
                });

                $(markers).each(function() {

                    // console.log(typeof(this.p));

                    var lat_lon = this.coords.split(',');
                    var icon = '@routes.Assets.at("images/pointer-gss.png")';

                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(lat_lon[0],lat_lon[1]),
                        title: this.name,
                        desc: this.desc,
                        icon: icon,
                        map: map
                    });


                    google.maps.event.addListener( marker, 'click', function() {
                        map_infowindow.setContent('<div><p><strong>' + marker.title + '</strong><br/>' + marker.desc + '</p></div>');
                        map_infowindow.open(map, this);

                        $("#station").val(marker.title);
                        $("#station-lng").val(marker.position.lng());
                        $("#station-lat").val(marker.position.lat());

                    });
                });

            }
    </script>

  <div class="window">
    <form action="" method="post" id="register_form">
      <div class="row separate">
        <div class="col-md-offset-3 col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">Ime</label>
            <input type="text" class="form-control" name="firstName" id="firstName" data-validetta="required"
            value="@if(edit){@user.firstName}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">Prezime</label>
            <input type="text" class="form-control" name="lastName" id="lastName" data-validetta="required"
            value="@if(edit){@user.lastName}">
          </div>
        </div>
      </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" data-validetta="required"
                value="@if(edit){@user.password}">
            </div>
            <div class="form-group">
                <label for="rpassword">Repeat password</label>
                <input type="password" class="form-control" name="rpassword" id="rpassword"
                data-validetta="required,equalTo[password]">
            </div>
            <div class="form-group">
                <label for="skill">Iskustvo</label>
                <select type="text" class="form-control" name="skill" id="skill" @if(edit){value="@user.skill.toString"}>
                    @for(skill <- skills){
                        <option>@skill.toString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="role">Rank</label>
                <select type="text" class="form-control" name="role" id="role" @if(edit){value="@user.skill.toString"}>
                @for(role <- roles){
                    <option>@role.toString()</option>
                }
                </select>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Broj mobitela</label>
                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" data-validetta="required,number"
                value="@if(edit){@user.phoneNumber}">
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="availableFrom">Dostupan od</label>
                <div class="input-group clockpicker">
                  <input type="text" id="availableFrom" name="availableFrom" class="form-control" value="@if(edit){@user.availableFrom}else{09:00}">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="availableUntil">Dostupan do</label>
                <div class="input-group clockpicker">
                  <input type="text" id="availableUntil" name="availableUntil" class="form-control" value="@if(edit){@user.availableUntil}else{17:00}">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="places">Lokacije</label>
          <div class="input-group">
            <input type="text" id="pac-input" class="form-control" name="location" placeholder="Radno mjesto, stan"
            value="@if(edit){@user.location}"/>
              <input type="hidden" class="form-control" name="location-lng" id="location-lng" value="@if(edit){@user.location.longitude}">
              <input type="hidden" class="form-control" name="location-lat" id="location-lat" value="@if(edit){@user.location.latitude}">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>
        </div>
            <div class="form-group">
                <label for="station">Stanica <span class="text-muted">(izaberi na karti)</span></label>
                <input type="text" class="form-control" name="station" id="station" data-validetta="required"
                value="@if(edit){@user.station.stationName}" readonly>
                <input type="hidden" class="form-control" name="station-lng" id="station-lng" value="@if(edit){@user.station.longitude}">
                <input type="hidden" class="form-control" name="station-lat" id="station-lat" value="@if(edit){@user.station.latitude}">
            </div>

            <div class="row">
                <div id="map"></div>
                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <span id="place-name" class="title"></span><br>
                    <span id="place-address"></span>
                </div>
            </div>

          <button type="submit" class="btn btn-primary separate">Submit</button>

        </div>
      </div>
    </form>
  </div>

    @if(edit) {
    <script>
            $('.selDiv option[value="SEL1"]');
            $('.selDiv option[value="SEL1"]')
    </script>

    }


  <script>
          $("#register_form").validetta({
            realTime: true,
            display : 'inline',
            errorTemplateClass : 'validetta-inline'
          });
  </script>

  @*activate all tooltips*@
  <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
          });
  </script>

  @*clockpicker*@
  <script type="text/javascript">
          $('.clockpicker').clockpicker();
  </script>

}