@(trips: List[BTTrip])
@main("Trips") {

  <div class="window">
    <h1 class="horizontalLine"><span>Trips</span></h1>
    <div class="row separate">

      <table class="table table-bordered separate">
        <thead>
          <tr><th>Departure date</th><th>Price</th><th>Places taken</th><th>Stops</th></tr>
        </thead>
        <tbody>
        @for(trip <- trips) {
          <tr>
            <td>
            @trip.dateToString()
            </td>
            <td>
            @trip.price
            </td>
            <td>
            @trip.passengers.size() / @trip.numOfPlaces
            </td>
            <td>
             @for(location <- trip.locations) {
               @location.name
             }
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
}